# Book Recommender System

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [15]:
books = pd.read_csv('books.csv')
ratings = pd.read_csv('ratings.csv')
users = pd.read_csv('users.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [16]:
books.iloc[10]['Image-URL-M']

'http://images.amazon.com/images/P/0771074670.01.MZZZZZZZ.jpg'

In [7]:
books.shape

(271360, 8)

In [17]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
books = books.drop(columns=['Image-URL-S', 'Image-URL-L'])

In [188]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [19]:
# Lets remane columns name
books.rename(columns={"ISBN":"isbn",
                     "Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [20]:
books.head(5)

,isbn,title,author,year,publisher,Image-URL-M
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [21]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [193]:
users.shape

(278858, 3)

In [22]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [195]:
ratings.shape

(1149780, 3)

In [23]:
# Lets remane columns name
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

In [ ]:
users_with_mt200_reviews = ratings['user_id'].value_counts() > 200

In [32]:
users_with_mt200_reviews[users_with_mt200_reviews].shape

(899,)

In [40]:
users_id_with_mt200_reviews = users_with_mt200_reviews[users_with_mt200_reviews].index

In [41]:
users_id_with_mt200_reviews

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       116122,  44296,  28634,  59727,  73681, 274808, 188951,   9856, 155916,
       268622],
      dtype='int64', name='user_id', length=899)

In [42]:
ratings = ratings[ratings['user_id'].isin(users_id_with_mt200_reviews)]

In [43]:
ratings.shape

(526356, 3)

In [52]:
ratings.rename(columns={"ISBN":"isbn"},inplace=True)

In [53]:
ratings.head()

      user_id        isbn  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [51]:
ratings_with_books = ratings.merge(books, on='isbn')

In [54]:
ratings_with_books.head()

,user_id,isbn,rating,title,author,year,publisher,Image-URL-M
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [55]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [56]:
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ã?Â?lpiraten.       1
160266                     Ã?Â?rger mit Produkt X. Roman.       1
160267                              Ã?Â?stlich der Berge.       1
160268                                  Ã?Â?thique en toc       1

[160269 rows x 2 columns]

In [65]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [66]:
final_rating =ratings_with_books.merge(number_rating, on='title')

In [67]:
print(final_rating.shape)
final_rating.head()

(487671, 9)

,user_id,isbn,rating,title,author,year,publisher,Image-URL-M,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13

In [68]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [69]:
final_rating.shape

(61853, 9)

In [70]:
final_rating.drop_duplicates(['user_id','title'], inplace=True)

In [71]:
final_rating.shape

(59850, 9)

In [115]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values='rating')

In [116]:
book_pivot.head(5)

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [117]:
book_pivot.shape

(742, 888)

In [118]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
book_pivot_scaled = pd.DataFrame(
    scaler.fit_transform(book_pivot.fillna(0)), 
    index=book_pivot.index, 
    columns=book_pivot.columns
)

In [119]:
book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [120]:
from scipy.sparse import csr_matrix

book_sparse = csr_matrix(book_pivot.fillna(0).values)

# Training Model

In [121]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine', algorithm='brute')

In [122]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [125]:
_, suggestion = model.kneighbors(book_sparse[100], n_neighbors=6)

In [126]:
suggestion

array([[100, 601,   8, 283, 400, 262]])

In [128]:
for i in range(len(suggestion[0])):
    print(book_pivot.index[suggestion[0][i]])

Call of the Wild
The Lottery Winner : Alvirah And Willy Stories
A Civil Action
Invasion
Postmortem
How Stella Got Her Groove Back

# Finding Poster Links

In [140]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [141]:
book_name[0]

Index(['Call of the Wild', 'The Lottery Winner : Alvirah And Willy Stories',
       'A Civil Action', 'Invasion', 'Postmortem',
       'How Stella Got Her Groove Back'],
      dtype='object', name='title')

In [142]:
ids_index = []
for name in book_name[0]:
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [143]:
for idx in ids_index:
    url = final_rating.iloc[idx]['Image-URL-M']
    print(url)

http://images.amazon.com/images/P/1559029838.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0671867172.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0679772677.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0425155404.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0380710218.01.MZZZZZZZ.jpg
http://images.amazon.com/images/P/0451197410.01.MZZZZZZZ.jpg

In [146]:
book_names= list(book_pivot.index)

In [145]:
import pickle
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(book_names,open('book_names.pkl','wb'))
pickle.dump(final_rating,open('final_rating.pkl','wb'))
pickle.dump(book_pivot,open('book_pivot.pkl','wb'))
pickle.dump(book_sparse,open('book_sparse.pkl','wb'))

# Testing Model

In [138]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    query = book_sparse[book_id]
    _, suggestion = model.kneighbors(query, n_neighbors=6)   
    recommended_indices = suggestion[0][1:]  
    
    for i in recommended_indices:
        print(book_pivot.index[i])

In [139]:
book_name = "1984"
recommend_book(book_name)

Animal Farm
The Catcher in the Rye
Lord of the Flies
The Handmaid's Tale
Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death